body {
    background-color: rgba(192, 192, 192, 255);
    width: 100%;
    min-width: 1440px;
    min-height: 720px;
    margin: 0px;
    padding: 0px;
}

div {
    position: relative;
    border: 0px;
    margin: 0px;
    padding: 0px;    
}

a {
    color: rgba(64, 96, 160, 255);
    text-decoration: none; 
}

a::visited {
    color: rgba(128, 125, 255, 255); 
}

#head {
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    min-width: 1440px;
    height: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 2px 4px black;
    background-color: rgba(255, 255, 255, 255);
    font-size: x-large;
    font-weight: bold;
}

#content {
    position: absolute;
    left: 0px;
    top: 48px;
    width: 100%;
    min-width: 1440px;
    min-height: 720px;
}

#side {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 320px;
    min-height: inherit;
    padding-left: 32px;
    padding-right: 16px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 2px 2px 4px black;
}

#side .section {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}

#other-side {
    position: absolute;
    z-index: 1;
    left: 1024px;
    top: 0px;
    width: 320px;
    min-height: inherit;
    padding-left: 16px;
    padding-right: 32px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 2px 2px 4px black;
}

#other-side .section {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}

#main {
    position: absolute;
    left: 368px;
    top: 0px;
    padding: 0px;
}

#main .view {
    width: 640px;
    max-height: 640px;
    margin: 8px;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 2px 2px 4px black;
}
