body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(192, 192, 192);
    color: rgb(64, 96, 160);
}

div {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px;
}

canvas {
    display: block;
}

a {
    color: rgb(96, 144, 240);
    font-weight: bold;
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 48px;
    height: 100%;
    border: 1px black;
    background: white;
    box-shadow: 2px 0px 4px black;
}

.menu > div {
    position: absolute;
    margin: 8px;
}

.menu > .items {
    top: 0px;
}

.menu > .links {
    bottom: 0px;
}

.menu > div > div {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    margin-bottom: 8px;
    cursor: pointer;
}

.tiles, .hud {
    position: absolute;
    top: 0px;
    left: 48px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    overflow: auto;
}

.hud {
    visibility: hidden;
    z-index: 16;
    background-color: rgba(16, 24, 40, 0.875);
    color: white;
}

.top-right {
    top: 16px;
    left: auto;
    bottom: auto;
    right: 16px;
    height: auto;
    border: 2px solid rgb(64, 96, 160);
    opacity: 0.67;
    font-size: small;
}

.hud > div {
    margin: 16px 16px 16px 16px;
}

.hud > div > h1, .hud > div > h2 {
    display: block;
    width: 75%;
    padding-bottom: 0.25em;
    border-bottom: 2px solid white;
}

.hud > div .img-char {
    width: 1.5em; 
    height: 1.5em; 
    background-color: white;
}

.hud > div kbd {
    border-radius: 3px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    cursor: pointer;
}

.hud kbd.pressed {
    color: rgba(0, 0, 0, 1.0);
    background-color: white;
}

.tiles > div {
    float: left;
    border: 1px black;
    margin: 8px 0px 0px 8px;
    background: white;
    box-shadow: 2px 2px 4px black;
}

.toy {
    width: 256px;
    height: 192px;
    cursor: pointer;
}

.toy > span {
    position: absolute;
    top: 1em;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.tiles > div sub {
    color: red;
    font-size: xx-small;
    font-weight: bold;
}

#monitor th {
    text-align: right;
    padding-right: 8px;
}

#monitor td {
    font-family: monospace;
    white-space: pre;
}

#controls {
    user-select: none; 
}

#logo {
    background-image: url('/icons/gh32px.png'); 
    margin-bottom: 32px;
}

#controls-button { 
    background-image: url('/icons/controls.svg');
}

#about-button {
    background-image: url('/icons/about.svg');
}

#monitor-button {
    background-image: url('/icons/monitor.svg');
}

#github { 
    background-image: url('/icons/github.png');
}

#linkedin { 
    background-image: url('/icons/linkedin.png');
}

#mastodon {
    background-image: url('/icons/mastodon.svg');
}

#youtube {
    background-image: url('/icons/youtube.png');
}
